.env
.cache/
.cache.sqlite
weather/
raw/
__pycache__/
*.pyc
.ipynb_checkpoints/
logs/

# dbt
weather_dbt/target/
weather_dbt/dbt_packages/
weather_dbt/logs/
weather_dbt/profiles.yml

# Airflow
airflow/logs/
airflow/config/airflow.cfg
